name: GoReleaser

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: write
  packages: write

jobs:
  goreleaser:
    name: GoReleaser
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Fetch all tags
        run: git fetch --force --tags

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.4'

      - name: Run GoReleaser with goreleaser-cross
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser-cross
          version: '~> v1.25'
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GORELEASER_CURRENT_TAG: ${{ github.ref_name }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: release-artifacts
          path: dist/*